#root {
  height: 100%;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide {
  width: 90%;
  box-shadow: 0 2px 12px rgb(0 0 0 / 8%);
  background: #fff;
  border-radius: 0 0 7px 7px;
}

.sliderHeader {
  box-sizing: border-box;
  box-shadow: 0 2px 12px rgb(0 0 0 / 8%);
  margin: 0 auto;
  width: 90%;
  background: #fff;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  border-radius: 7px 7px 0 0;
}

@media only screen and (max-width: 1200px) {
  .slide {
    width: 100%;
  }

  .sliderHeader {
    width: 100%;
  }
}
.color-slide {
  background-color: red;
}
