@font-face {
  font-family: "iranYekan";
  src: url("./Assets/fonts/iranYekan/IRANYekanRegular.ttf");
}

* {
  font-family: "iranYekan" !important;
}

body {
  margin: 0;
  font-family: "iranYekan" !important;
  direction: rtl;
  background-color: #fff !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
