@font-face {
  font-family: "BNazanin";
  src: url('./fonts/IRAN\ Sans\ Regular\ \(mmrostami.blog.ir\).ttf');
}

* {
  font-family: "BNazanin";
}

body {
  margin: 0;
  font-family: "BNazanin";
  direction: rtl;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
